* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat";
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
}

/* *::selection {
  background-color: #fff;
  color: rgba(109, 128, 180, 0.596);
}

body::-webkit-scrollbar {
  display: block;
  width: 8px;
  background: rgba(109, 128, 180, 0.596);
}

body::-webkit-scrollbar-thumb {
  background-color: #fff;

  border-radius: 50px;
} */

body {
  overflow-x: hidden;
  overflow-y: auto;
  min-width:unset;
}

#cursor {
  height: 20px;
  width: 20px;
  background-color: rgba(109, 128, 180, 0.596);
  border-radius: 50%;
  position: fixed;
  z-index: 99;
  transition: all linear 0.1s;
}

#cursor-blur {
  height: 300px;
  width: 300px;
  background-color: rgba(109, 186, 191, 0.418);
  border-radius: 50%;
  position: fixed;
  filter: blur(80px);
  z-index: 9;
  transition: all linear 0.4s;
}

#nav {
  height: 130px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  padding: 0 150px;
  gap: 50px;
  position: fixed;
  justify-content: center;
  z-index: 999;
}

#nav img {
  height: 80px;
}

#nav h4 {
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  font-size: 1.3vw;
}

#nav h4::after {
  content: "";
  width: 0%;
  height: 2px;
  background: rgba(61, 91, 173, 0.596);
  display: block;
  margin: auto;
  transition: 0.5s;
}

#nav h4:hover::after {
  width: 100%;
}

video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  position: fixed;
}

#main {
  position: relative;
  background-color: rgba(0, 0, 0, 0.36);
}

#page1 {
  height: 40em;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 10;
}

#page1 h1 {
  font-size: 7.5vw;
  font-weight: 900;
  margin: 20px 20px 20px 10px;
  position: relative;
}

#page1 h1::before {
  content: "PLAY. PLAY. PLAY!";
  position: absolute;
  color: #000;
  top: -5px;
  left: -5px;
  -webkit-text-stroke: 2px rgba(61, 91, 173, 0.596);
  z-index: -1;
}


#page1 h1:hover{
/* color: black; */
animation: rotate;
text-shadow: 10px 5px rgba(0, 0, 0, 0.737);
transition: all ease 1s;
cursor: pointer;
}
@keyframes rotate {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

#page1 h2 {
  font-size: 30px;
  font-weight: 800;
  margin-top: 10px;
  /* margin-bottom: 20px; */
  margin: 5px 20px 20px 10px;
  text-decoration: underline;
}

#page1 p {
  font-size: 1.2rem;
  font-weight: 500;
  width: 40%;
  margin: 5px 20px 20px 10px;
  padding: 10px;
}

#page1 #arrow {
  height: 250px;
  width: 250px;
  background-color: transparent;
  border: 2px solid rgba(61, 91, 173, 0.596);
  position: absolute;
  display: flex;
  left: 80%;
  bottom: 1%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all ease 0.5s;
}

#page1 #arrow i {
  font-size: 50px;
  font-weight: 100;
  /* left: 80%;
  bottom: 1%; */
}

#page1 #arrow:hover {
  scale: 0.35;
  background-color: rgba(61, 91, 173, 0.885);
}

#page2 {
  min-height: 100vh;
  width: 100%;
  z-index: 10;
}

#scroller {
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  z-index: 10;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#scroller::-webkit-scrollbar {
  display: none;
}

#scroller-in {
  display: inline-block;
  white-space: nowrap;
  animation-name: scroll;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#scroller h4 {
  display: inline-block;
  font-size: 5.3rem;
  font-weight: 900;
  font-family: gilroy;
  margin-right: 10px;
  transition: all linear 0.5s;
  color: transparent;
  padding: 5px;
  margin-right: 1rem;
  margin-bottom: 20px;
  /* -webkit-text-stroke: 2px #ffffff; */
  -webkit-text-stroke: 2px rgba(61, 91, 173, 0.794);
}

#scroller h4:hover {
  color: rgba(109, 128, 180, 0.596);
  -webkit-text-stroke: 2px rgba(109, 128, 180, 0.596);
  cursor: pointer;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

#about-us {
  height: 40vh;
  width: 100%;
  display: flex;
  padding: 0 50px;
  align-items: center;
  position: relative;
  z-index: 10;
  justify-content: space-around;
}

#about-us img {
  height: 200px;
  width: 300px;
  border-radius: 10px;
}

#about-us-in {
  width: 40%;
  text-align: center;
}

#about-us-in h3 {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 40px;
  text-decoration: underline;
}

#about-us-in p {
  font-size: 20px;
  line-height: 25px;
}

#cards-container {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 60px;
  position: relative;
  z-index: 10;
  margin-top: 20px;
  padding-top: 20px;
}

.card {
  height: 80%;
  width: 26%;
  background-color: transparent;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transition: all ease 0.5s;
}

#card1 {
  background-image: url(https://images.pexels.com/photos/12894095/pexels-photo-12894095.jpeg?auto=compress&cs=tinysrgb&w=600);
  justify-content: center;
  align-items: center;
}

#card2 {
  background-image: url(https://images.pexels.com/photos/163036/mario-luigi-yoschi-figures-163036.jpeg?auto=compress&cs=tinysrgb&w=600);
}

#card3 {
  background-image: url(https://www.angrybirds.com/wp-content/uploads/2022/08/AB2_202310_8000x6000_KeyArt_SeasonPass_NoLogo-1-1300x975.jpg);
}

.card:hover .overlay {
  opacity: 1;
}

.card:hover {
  transform: rotate3d(-1, 1, 0, 20deg);
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgb(109, 186, 191);
  padding: 50px;
  /* padding-top: 150px; */
  opacity: 0;
  transition: all ease 0.5s;
}

.overlay h4 {
  color: #000;
  font-size: 30px;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 20px;
  font-weight: 800;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.overlay p {
  color: #000;
  font-size: 18px;
/* padding-right: 20px; */
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#green-div {
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to left bottom, #5cb7ba, #71eddfdd);
  padding: 30px;
  margin-top: 6rem;
  /* z-index: 99; */
}

#green-div h4 {
  width: 45%;
  line-height: 50px;
  color: #000;
  text-align: center;
  font-weight: 900;
  font-size: 25px;
  text-transform: uppercase;
}

#green-div img {
  height: 100%;
  object-fit: cover;
  width: 14%;
}

#page3 {
  height: 100vh;
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

#page3>p {
  font-size: 35px;
  font-weight: 700;
  width: 60%;
  line-height: 45px;
  text-align: center;
}

#page3 img {
  position: absolute;
  height: 60px;
}

#page3 #colon1 {
  left: 15%;
  top: 25%;
}

#page3 #colon2 {
  bottom: 30%;
  right: 15%;
}

#page4 {
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  position: relative;
}

.elem {
  height: 70%;
  width: 26%;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}

.elem h2 {
  height: 100%;
  width: 100%;
  background-color: rgb(109, 186, 191);
  display: flex;
  color: #000;
  font-weight: 800;
  align-items: center;
  justify-content: center;
  transition: all ease 0.5s;
  font-size: 1.6vw;
  position: absolute;
  z-index: 10;
  padding: 50px;
  padding-top: 150px;
}

.elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all ease 0.5s;
  scale: 1.1;
}

.elem:hover h2 {
  color: #fff;
  background-color: transparent;
}

.elem:hover img {
  scale: 1;
}

#page4 h1 {
  font-size: 5vw;
  position: absolute;
  top: -15%;
  font-weight: 900;
  font-family: gilroy;
  color: #000;
  /* -webkit-text-stroke: 2px #fff; */
  -webkit-text-stroke: 2px rgba(109, 128, 180, 0.596);
  transition: all linear 0.5s;
  color: transparent;
  margin-bottom: 40px;
  padding-bottom: 1rem;
  align-items: center;
  justify-content: center;
}

#page4 h1:hover {
  color: rgba(109, 128, 180, 0.596);
}

#footer {
  height: 40vh;
  width: 100%;
  background: linear-gradient(to left bottom, #5cb7ba 0%, #71eddfdd 80%);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6.5vw;
  padding: 0 100px;
}

#footer>img {
  position: absolute;
  left: 0;
  height: 100%;
  z-index: 0;
}

#f1 img {
  height: 100px;
}

#f1,
#f2,
#f3,
#f4 {
  width: fit-content;
  position: relative;
  z-index: 99;
}

#f2 h3 {
  font-size: 1.6vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 900;
  margin-bottom: 8px;
}

#f3 h3 {
  font-size: 1.6vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 900;
  margin-bottom: 8px;
}

#f4 h4 {
  font-size: 1vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 8px;
}



#pointer {
  transition: all ease 0.5s;
}

#pointer h1:hover {
  color: transparent;
  cursor: pointer;
  color: #fff;
}

#pointer h2:hover{
  color: transparent;
  cursor: pointer;
  color: #fff;
}

#pointer h3:hover {
  color: transparent;
  cursor: pointer;
  color: #fff;
}
#pointer h4:hover {
  color: transparent;
  cursor: pointer;
  color: #fff;
}

#pointer::after {
  content: "";
  width: 0%;
  height: 2px;
  background: rgba(61, 91, 173, 0.596);
  display: block;
  margin: auto;
  transition: 0.5s;
}

#pointer:hover::after {
  width: 100%;
}